<h1 class="text-center my-4">Vets</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>Full name</th>
          <th>Email</th>
          <th>Specialization</th>
        </tr>
      </thead>
      <tbody>
        <% @vets.each do |vet| %>
          <tr>
            <td><%= link_to "#{vet.first_name} #{vet.last_name}", vet_path(vet) %></td>
            <td><%= vet.email %></td>
            <td><%= vet.specialization %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>