<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Pet</th>
      <th>Vet</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td>...</td>
        <td><%= appointment.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>