<h1 class="text-center my-4">Owners</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>Full name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Number of pets</th>
        </tr>
      </thead>
      <tbody>
        <% @owners.each do |owner| %>
          <tr>
            <td><%= link_to "#{owner.first_name} #{owner.last_name}", owner_path(owner) %></td>
            <td><%= owner.email %></td>
            <td><%= owner.phone %></td>
            <td><%= owner.pets.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>